main {
    min-height: 100vh;
}

body {
    background-color: rgb(0, 0, 25);
    color: white;
    font-family: sans-serif;
    margin: 0;
}

body h1 {
    margin: 0.25rem auto;
    text-align: center;
}

body h2 {
    font-size: large;
}

body hr {
    margin: 8px auto;
    max-width: 75%;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid darkslategray;
    background-color: rgb(0, 0, 15);
}

header h1 {
    color: white;
    text-align: center;
    margin: 0;
}

.imagerow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagerow img {
    width: 2rem;
    padding: 0.25rem;
    margin: 0.1rem;
}

body section {
    max-width: 32%;
    max-height: 150%;
    border: whitesmoke;
    border-style: dashed;
    background-color: rgb(0, 0, 15);
    text-align: center;
    margin: 2.5rem auto;
    padding: 0.5rem;
    position: relative;
}

body section.left{
    right: 12rem;
}

body section.right{
    left: 12rem;
}

align {
    display: flex;
    align-items: center;
    justify-content: center;
}

body section article {
    text-align: left;
}

body .notice{
    max-width: 16%;
    border: whitesmoke;
    border-style: dotted;
    background-color: rgb(0, 0, 15);
    text-align: center;
    margin: 0.6rem auto;
    padding: 0.25rem;
}

body .notice img {
    min-width: 4rem;
    max-width: 4rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid darkslategray;
    background-color: rgb(0, 0, 15);
    padding: 12px;
}

img {
    width: 8rem;
}

@media (max-width: 600px) {
    body section {
        max-width: 80%;
    }

    body .notice {
        max-width: 50%
    }

    body section.left{
        right: 1rem;
    }

    body section.right{
        left: 1rem;
    }
}